.signUpContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inputSpace{
    margin-top: 1rem;
}

.signIn {
    margin-top: 1rem;
}

.signInHere {
    color: blue;
}
